* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html,
body {
    background-color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;

}

.container {
    min-width: 100%;
    min-height: 100%;
}

.content-wrapper {
    height: 100%;
    margin-top: 30px;
}

.report-container {
    overflow: auto;
    max-height: 100vh;
}

.report-container::-webkit-scrollbar {
    width: 2px;
}

.report-container::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(210, 208, 208, 0.3);
    border-radius: 4px;
}

.report-container::-webkit-scrollbar-thumb {
    border-radius: 4px;
    -webkit-box-shadow: inset 0 0 6px rgba(68, 68, 68, 0.5);
}

.home-page {
    width: 100%;
    height: 100%;
    display: flex;
}

.landing {
    min-width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.blocks {
    display: flex;
    min-width: 60em;
    margin-top: -30px;
}

.apear-card {
    margin-left: 12px;
}

.landing-image {
    width: 100%;

}

.login-nav-btn {
    width: 150px;
    margin-right: 40px;
}

.navbar {
    max-width: 100%;
    height: 60px;
}

.nav-link {
    background-color: red;
    margin-right: 20px;
}

.client-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;

}

.report-card-header {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card {
    margin-bottom: 3px;
}

.top-perfil-image {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    object-fit: cover;
}

.card-header {
    background-color: #ffffff;
}

.login-btn {
    color: #ffffff;
}

.edit-profile-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.bio-container {
    width: 100%;
    height: 100vh;
}

.bio {
    word-wrap: break-word;
}

.bio-area {
    border: none;
    width: 100%;
    height: 100%;
    resize: none;
    outline: none;
}

.desc-container {
    width: 100%;
    padding: 1123px;
}

.dashboard-items {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 130px;
}

.btn-group {
    width: 100%;
    justify-content: space-between;
}

.alert-container {
    width: 50em;
    height: 20px;
}

.alert {
    display: none;
    position: absolute;
    opacity: 0.7;
    z-index: 99;
    width: 50%;
}

.error-message {
    display: flex;
    justify-content: center;
    align-items: center;
}

.error-message i {
    margin-right: 10px;
}

.success-message i {
    margin-right: 10px;
}

@keyframes alertShow {
    from {
        margin-left: -100px;

    }

    to {
        margin-left: 0px;

    }
}

.clone-url {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.researcher-container {
    display: flex;
    align-items: center;
}


.researcher-card {
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: red;
}

.researcher-card form {
    width: 100%;
}

.code-landing {
    min-width: 60%;
    height: 100vh;
    display: flex;

    align-items: center;
    flex-direction: column;

}

.researcher-card form select {
    width: 310px;
}

.researcher-container select {
    width: 20%;
    margin-right: 10px;
}

.clone-url i {
    margin-left: 10px;
}

@keyframes alertHide {
    from {
        margin-left: 0;

    }

    to {
        margin-left: -100px;

    }
}

@keyframes upAnimation {
    from {
        transform: translateY(50px);
    }

    to {
        transform: translateY(0);
    }
}